/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #d5f5e3;
  --color-secondary: #d5f5e3;
  --color-tertiary: #d5f5e3;
  --color-primary-darker: #a9dfbf;
  --color-secondary-darker: #a9dfbf;
  --color-tertiary-darker: #a9dfbf;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
}

p {
  font-size: 18px;
  text-align: justify;
}

ul {
  list-style: inside;
}

.my_pic {
  margin: 20px 0; /* Adds margin only to the top and bottom */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block; /* Ensures the image is treated as a block element */
  margin-left: auto;
  margin-right: auto;
}

/* GENERAL ELEMENTS */

.section_about_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;
  margin-top: 45px;
  transition:
    transform 1s,
    opacity 1s;
}

.left-content,
.center-content,
.right-content {
  flex: 1;
  margin-top: 15xp;
}

.center-content {
  padding: 1rem;
  padding: 10rem 3rem;
  text-align: center;
  font-size: 18px;
}

.right-content {
  text-align: center; /* Center-aligns the text within the .right-content */
  flex-direction: column;
  padding: 1rem; /* Adds padding to the right-content section */
  font-size: 2rem;
}

.button-group {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1rem; /* Add space between buttons */
  flex-wrap: wrap; /* Allows buttons to wrap if needed */
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.work_experience__content {
  display: none;

  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.work_experience__content--active {
  display: grid;
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.work_experience__tab-container {
  display: flex;
  justify-content: center;
}

.experience__tab--active {
  background-color: var(--color-primary-darker); /* Makes the tab darker */
  transform: translateY(-2px); /* Moves the tab slightly up */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

/* NAVIGATION */
.nav {
  display: flex;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: #34495e;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  margin-left: auto;
  align-items: left;
  list-style: none;
  color: white;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

.job_title {
  align-items: center;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 5;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

.my_name {
  font-size: 5.5rem;
  line-height: normal;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: normal;
  text-align: center;
}

h2 {
  font-size: 2rem;
  line-height: normal;
  text-align: center;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 50%;
  grid-column: 2;
  grid-row: 2 / span 5;
  transform: translateY(-100%);
  clip-path: circle(50%);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.section__description {
  text-align: center;
}
